# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Raw Datasets (Raw data is very large ~90MB; store locally only)
data/raw/*
!data/raw/README.md

# Application Temporary Generated Outputs
outputs/data_inventory.csv
outputs/data_cleaning_report.csv
outputs/data_quality_summary.csv
!outputs/README.md

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE Settings
.vscode/
.idea/
*.swp
